EXPO_PUBLIC_INSFORGE_URL=https://5izff6gg.ap-southeast.insforge.app
EXPO_PUBLIC_INSFORGE_ANON_KEY=replace-with-insforge-anon-key
EXPO_PUBLIC_APP_SCHEME=harmonix
EXPO_PUBLIC_JAMENDO_CLIENT_ID=optional-jamendo-client-id
